@import "./variables.module.scss";

.mainContainer {
  width: ($size * 5) + ($gap * 5);
  margin: 100px auto;
}
@media (max-width: 1000px) {
  .mainContainer {
    width: ($size * 5) + ($gap * 3);
    margin: 40px auto;
  }
}
@media (max-width: 640px) {
  .mainContainer {
    width: 310px;
    margin: 10px 100vw/2;
  }
}
